/* User story 14 : At least one media query */
/* User story 15 : Should have CSS flexbox at least once */

*{
    max-width: 100%;
    box-sizing: border-box;
}

body{
    width: 100%;
    padding: 0;
    margin:0;
    padding-top: 70px;
    font-size: 17px;
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;


}

#header{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top:0;
    height:70px;
    text-align: center;
    background-color: #EEEEEE;
    box-shadow: 8px 3px 15px 1px rgb(189, 189, 189);
}

#logo{
    width:40%;
}

#logo > #header-img{
    max-width: 100%;
    margin: auto;
}

#nav-bar{
    width:60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav-bar li{
    display: inline-block;
    list-style: none;
}

#nav-bar li > a:link{
    text-decoration: none;
    color: rgb(107, 107, 107);
}

#nav-bar li > a:visited{
    color:rgb(56, 56, 56);
}

#nav-bar li > a:hover{
    color:rgb(221, 179, 10);
}

#nav-bar li > a:active{
    color: rgb(107, 107, 107);
}

main{
    display: flex;
    flex-direction: column;
}

#form{
    height:40vh;
    padding: 3% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-size: 0.85rem;
}

#form > #email, #submit{
    display: block;
}

#form > #email{
    width:30%;
    padding:0.6%;
    margin-bottom: 1.5%;
}

#form > #submit{
    width:20%;
    background-color: #f1c40f;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5em;
    padding: 0.4%;
}

#video{
    width:50%;
    height:400px;
    margin: 5% auto;
    background-color: black;
}

#features{
    width: 60%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0% 5%;
    margin: auto;
}

.features-1-2-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#pricing{
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% auto;
    text-align: center;
}

.card{
    width: 25%;
    border: 1px solid black;
    line-height: 1;
    padding-bottom: 4%;

}

.card > button {
    width: 120px;
    font-size: 1.2em;
    padding: 3%;
    background-color: #F1C40D;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.card > button:hover {
    background-color: #dab10b;
}

.title {
    margin-top: 0;
    padding: 8% 2%;
    background-color: rgba(185, 185, 185);
}

.price{
    font-size: 2.5em;
    font-weight: 800;
}

#footer{
    padding: 1%;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width:550px){

    body{
        padding-top: 150px;
    }

    #header{
        display: flex;
        flex-direction: column;
        height: 150px;
    }

    #logo, #navbar{
        width:100%;
    }

    #navbar{
        display: flex;
        flex-direction: column !important;
        justify-content: space-evenly;
    }

    #nav-bar > li > a{
        width: 100%;
        display: block;
    }

    #form{
        width:100%;
    }

    #form > #email{
    width:60%;
    padding:2%;
    margin-bottom: 3%;
    }

    #form > #submit{
        padding: 1%;
    }

    #video{
        margin:10% auto;
        height:70vh;
        width:100%;
    }
    
    #features{
        width: 100%;
    }

    .features-1-2-3{
        padding: 3%;
        text-align: center;
    }

    #pricing{
        margin: 5% auto;
        width : 100%;
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 60%;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
        margin: 5% 0;
        padding-bottom: 8%;
    }

    #footer{
        padding: 3%;
        background-color: #DDDDDD;
        display: flex;
        flex-direction: column;
    }

    #footer > div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}